*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
}

.main{
   width: 100%;
   height: 100%;
}
input[type='text']{
   margin-top: 5px;
   height: 50px;
}
textarea{
   height: 150px;
   margin-top: 5px;
}

input[type='submit']{
   padding-block:5px ;
   padding-inline: 10px;
   margin-top: 8px;
   cursor: pointer;
}


.task{
   background-color: rgb(80, 79, 79);
   word-wrap: wrap;
   height: auto;
   width: 250px;
   padding: 10px;
   margin: 15px;
   overflow: hidden;
   border-radius: 8px;
}

.task h1{
   font-weight: bold;
   padding: 4px;
}

.task p{
   font-size:small;
   line-height: 16px;
}

.task a{
   text-decoration: underline solid 2px rgb(31, 173, 255);
   color: rgb(31, 173, 255);


}

.tasks{
   display: flex;
   flex-wrap: wrap;
}

.tasks h3{
   font-size: 40px;
   text-align: center;
   width: 100vw;
   margin: auto;
   margin-top: 20px;
}